<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="yang.shuai.ys_tiktok_service.mapper.PhoneCodeMapper">
    <!--创建表-->
    <update id="createTable">
        create table if not exists phone_code(
            id int(12) NOT NULL PRIMARY KEY AUTO_INCREMENT,
            phone varchar(100) not null,
            code int(12) not null,
            code_type int(12) not null,
            sendTime timestamp not null
        )ENGINE=InnoDB  DEFAULT CHARSET=utf8 AUTO_INCREMENT=1;
    </update>
    <!--增-->
    <insert id="add" parameterType="yang.shuai.ys_tiktok_service.dao.PhoneCode">
        insert into phone_code
          (phone,code,code_type,sendTime)
        values(#{phone},#{code},#{code_type},#{sendTime});
    </insert>
    <!--删-->
    <delete id="del" parameterType="yang.shuai.ys_tiktok_service.dao.PhoneCode">
        delete from phone_code where id = #{id};
    </delete>
    <!--改-->
    <update id="update" parameterType="yang.shuai.ys_tiktok_service.dao.PhoneCode">
        update phone_code
        set
        phone = #{phone},
        code = #{code},
        code_type = #{code_type},
        sendTime = #{sendTime}
        where phone = #{phone} and code_type = #{code_type};
    </update>
    <!--查-->
    <select id="sel" parameterType="yang.shuai.ys_tiktok_service.dao.PhoneCode" resultType="yang.shuai.ys_tiktok_service.dao.PhoneCode">
        select * from phone_code where phone = #{phone} and code_type = #{code_type};
    </select>
    <!--通过id查-->
    <select id="selWithId" parameterType="java.lang.Integer" resultType="yang.shuai.ys_tiktok_service.dao.PhoneCode">
        select * from phone_code where id = #{id};
    </select>

</mapper>
